{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": { "version": "3.8" },
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ]
}
